@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background-color: black;
  color: white;
  font-family: "Inter", sans-serif;
}
body {
  overflow-x: hidden;
}
.container {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  top: 50px;
}
#header-right {
  display: flex;
  align-items: center;
  gap: 15px;
}
#tasks {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 3px;
}
#list {
  font-size: 3rem;
  font-weight: 500;
  letter-spacing: 3px;
}
#additem {
  font-size: 1.7rem;
}
#additem:hover {
  transform: scale(1.1);
}
#createList {
  color: dodgerblue;
  font-size: 1.6rem;
}
#createList:hover {
  transform: scale(1.3);
}

#updateList {
  font-size: 2rem;
  margin-left: 500px;
}
#noItems {
  font-size: 2.3rem;
  position: absolute;
  top: 47%;
  left: 37%;
}
#listForm,
#itemForm {
  height: 250px;
  width: 400px;
  background-color: white;
  color: black;
  border-radius: 15px;
  text-align: center;
  padding: 40px;
  position: absolute;
  top: 29%;
  left: 35%;
  z-index: 10;
}
#blur {
  height: 200vh;
  width: 100%;
  background: rgba(255, 255, 255, 0);
  backdrop-filter: blur(10px);
  position: absolute;
}
h4 {
  font-size: 2rem;
  margin-bottom: 20px;
  font-weight: 500;
  color: red;
}
input[type="text"] {
  height: 45px;
  width: 300px;
  border-radius: 3px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 1.5rem;
  font-family: Inter;
}
button {
  height: 40px;
  width: 100px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  background-color: #f7593f;
  color: white;
  font-size: 1.5rem;
  font-family: Inter;
  letter-spacing: 1px;
  font-weight: 200;
}
button:hover {
  transform: scale(1.1);
}
.card {
  margin-top: 40px;
  margin-left: 50px;
  min-height: 400px;
  max-height: fit-content;
  width: 280px;
  background-color: white;
  color: black;
  border-radius: 15px;
  text-align: center;
  position: relative;
}
.card h4 {
  margin-top: 15px;
}
#plus {
  color: dodgerblue;
  font-size: 2.5rem;
  position: absolute;
  bottom: 15px;
  right: 15px;
}
#delete {
  font-size: 1.7rem;
  margin-left: 10px;
}
#rule {
  height: 2px;
  background-color: black;
}

#lists {
  width: 90%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  position: absolute;
  top: 135px;
  left: 5%;
  gap: 50px;
}
li {
  font-size: 0.9rem;
  font-weight: 400;
}
.mark {
  height: 25px;
  width: 80px;
  font-size: 0.8rem;
  background-color: #1e90ff;
}
.ul {
  list-style-type: none;
}
#backicon {
  font-size: 2rem;
  margin-left: 120px;
  position: absolute;
  top: 23px;
  left: 115px;
}
#backicon:hover {
  transform: scale(1.1);
}
#back {
  font-size: 2rem;
  position: absolute;
  top: 19px;
  left: 280px;
}
#back:hover {
  transform: scale(1.1);
}
#heading {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 3rem;
}
#anotherPlusIcon {
  font-size: 2rem;
  color: dodgerblue;
  position: absolute;
  top: 63px;
  left: 1050px;
}
.fa-trash {
  background-color: orangered;
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  color: white;
  padding: 19px 0px 0 1px;
  bottom: 15px;
  right: 66px;
}

@media only screen and (max-width: 600px) {
  .container {
    height: 10%;
    display: flex;
    flex-direction: column;
    width: 100vw;
    box-sizing: border-box;
  }

  #createList {
    margin-left: 0 !important;
  }
  #back {
    top: -29px;
    left: 191px;
  }
  #backicon {
    font-size: 1.7rem;
    top: -31px;
    left: 31px;
  }
  #additem,
  #createList {
    margin-top: 20px;
  }
  #listForm,
  #itemForm {
    width: 100vw;
    box-sizing: border-box;
    left: 0;
  }
  #lists {
    width: 100vw;
    left: 0;
    gap: 0;
  }
  #noItems {
    display: flex;
    justify-content: center;
    font-size: 25px;
    width: 100vw !important;
    left: 0;
    text-align: center;
  }
  .card {
    width: 75vw;
  }
  #tasks,
  #list,
  #heading {
    font-size: 28px;
  }
  #heading {
    top: 58px;
  }
  #additem,
  #add,
  #exit,
  #itemName,
  #back,
  ul li {
    font-size: 20px;
  }
  h4 {
    font-size: 25px;
  }
}
